.details-card-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.details-card-conatiner:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15) 0 10px 10px;
}
.cardName {
  font-size: 15px;
  margin-bottom: -15px;
}

.cardValue {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}
