body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #696661;
  font-family: "Poppins", "sans-serif";
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #262a2b;
}
