.testing_Conatiner {
  background-color: #fff;
  margin: 64px 0;
  width: 80%;
  min-height: 800px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.try-again-cont {
  display: flex;
  flex-grow: 1;
}
